.row {
  max-width: 180rem;
  margin: 0 auto;
  display: block;
  content: "";
  clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 8rem; }
  .row .col-1-of-2 {
    width: calc((100% - 8rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 16rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 16rem) / 3) + 8rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 8rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 8rem) / 4) + 8rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 8rem) / 4) + 2 * 8rem); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: "Mindline Script Demo", monospace;
  padding: 3vh 10vh;
  font-weight: 400;
  line-height: 1;
  color: #777; }

@font-face {
  font-family: "Mindline Script Demo";
  src: url("fonts/Mindline Script Demo.ttf") format("truetype"); }

@media only screen and (min-device-width: 375px) and (max-device-width: 768px) {
  /* Styles */
  html {
    font-size: 25%; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
  /* Styles */
  html {
    font-size: 20%; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-half-row-verticle-center-text-center {
  width: 100%;
  height: 95vh;
  vertical-align: middle;
  text-align: center; }

.u-half-row-verticle-center-text-right {
  width: 95vh;
  height: 95vh;
  display: table-cell;
  vertical-align: middle;
  text-align: right; }

.u-half-row {
  height: 95vh; }

.u-third-row {
  height: 33vh; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* The typing effect */
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: #E1B22B; } }

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    color: #000;
    font-family: "Mindline Script Demo", monospace;
    font-size: 15rem;
    font-weight: 400;
    letter-spacing: 1rem;
    /*
            animation-delay: 3s;
            animation-iteration-count: 3;
            */ }
  .heading-primary--sub {
    display: block;
    font-family: monospace;
    color: #000;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 1rem;
    animation: moveInRight 1s ease-out; }

.about-me-paragraph {
  color: #777;
  font-size: 2rem;
  margin-bottom: 15px; }

.typewriter h1 {
  color: #4b6584;
  font-size: 15rem;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.1em solid #E1B22B;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite; }

.container {
  /* will cover the 100% of viewport */
  overflow: auto;
  display: block;
  position: relative;
  padding-bottom: 100px;
  /* height of your footer */ }

.section-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.background--floral {
  margin-bottom: 25px;
  animation: moveInLeft 1s ease-out;
  height: 7rem;
  background-image: url(../img/gold-leaf-4.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain; }

footer {
  position: absolute;
  bottom: 0;
  height: 15px;
  background-color: red;
  width: 100%; }

#us {
  margin-top: 4vh;
  max-width: 50vw;
  border-radius: 15px;
  opacity: 0;
  animation: moveInTop 1s ease-out;
  animation-delay: .5s;
  animation-fill-mode: forwards; }

.nav {
  animation: moveInLeft 1s ease-out;
  margin-top: 25px;
  display: flex;
  justify-content: center; }
  .nav li {
    list-style: none;
    margin: 0 1vw; }

.nav-link {
  font-family: monospace;
  text-decoration: none;
  color: #777;
  text-transform: uppercase; }
  .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: black;
    transition: width .5s; }
  .nav-link:hover {
    margin-bottom: 0px;
    color: #E1B22B; }
    .nav-link:hover:after {
      width: 100%; }

#section-about,
#section-projects {
  height: 100vh; }

.section-about {
  margin-top: 35vh;
  color: #E1B22B;
  background-color: #fff; }

.row-project {
  max-width: grid-width;
  margin: 0 auto;
  display: block;
  content: "";
  clear: both; }
  .row-project [class^="col-"] {
    float: left; }
  .row-project .col-1-of-3-project {
    width: calc(100%/3); }

.project-column {
  height: 33vh; }
  .project-column--pic1 {
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: overlay; }
    .project-column--pic1:hover {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/me.jpg);
      opacity: 1; }
    .project-column--pic1:not(hover) {
      background-image: linear-gradient(to right bottom, #fff, #000), url(../img/me.jpg);
      box-shadow: inset 0 0 100px #000000;
      opacity: 0.8; }

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
  padding: 15px 40px;
  border-radius: 100px;
  transition: all .2s; }

.btn-white {
  background-color: #fff;
  color: #777; }
  .btn-white::after {
    background-color: #fff; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn-animated {
  animation: moveInBottom 0.5s ease-out 1s;
  animation-fill-mode: backwards; }

.btn-text {
  font-family: monospace; }
  .btn-text:link, .btn-text:visited {
    font-size: 2rem;
    display: inline-block;
    text-decoration: none;
    padding: 3px;
    transition: all .2s; }
  .btn-text:hover {
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }
  .btn-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0); }
  .btn-text--gold {
    color: #E1B22B;
    border-bottom: 1px solid #000; }
    .btn-text--gold:hover {
      background-color: #E1B22B;
      border-bottom: 1px solid #E1B22B; }

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#return-to-top i {
  color: white;
  height: 50px;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9); }

#return-to-top:hover i {
  color: #fff;
  top: 5px; }
