.row {
  max-width: 180rem;
  margin: 0 auto;
  display: block;
  content: "";
  clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 8rem; }
  .row .col-1-of-2 {
    width: calc((100% - 8rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 16rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 16rem) / 3) + 8rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 8rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 8rem) / 4) + 8rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 8rem) / 4) + 2 * 8rem); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: "Mindline Script Demo", monospace;
  padding: 3vh 10vh;
  font-weight: 400;
  line-height: 1;
  color: #777; }

@font-face {
  font-family: "Mindline Script Demo";
  src: url("fonts/Mindline Script Demo.ttf") format("truetype"); }

@media (min-device-width: 690px) and (max-device-width: 850px) {
  /* Styles */
  html {
    font-size: 60%; }
  body {
    padding: 1rem; } }

@media (max-device-width: 690px) {
  /* Styles */
  html {
    font-size: 30%; }
  body {
    padding: 1rem; } }

@media (max-device-width: 768px) and (orientation: landscape) {
  .section {
    height: auto !important;
    margin-bottom: 20vh; }
  #us {
    height: 200px !important; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-half-row-verticle-center-text-center {
  text-align: center; }

.u-half-row-verticle-center-text-right {
  text-align: right; }

.u-half-row-verticle-center-text-right {
  text-align: right; }

.u-flex-center {
  justify-content: center;
  align-items: center;
  align-content: center; }

.u-third-row {
  height: 33vh; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* The typing effect */
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: #E1B22B; } }

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    color: #000;
    font-family: "Mindline Script Demo", monospace;
    font-size: 15rem;
    font-weight: 400;
    letter-spacing: 1rem;
    /*
            animation-delay: 3s;
            animation-iteration-count: 3;
			*/ }
    @media (min-device-width: 320px) and (max-device-width: 440px) {
      .heading-primary--main {
        font-size: 10rem; } }
  .heading-primary--sub {
    display: block;
    font-family: "Josefin Slab", serif;
    color: #000;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: .5rem;
    animation: moveInRight 1s ease-out; }
    .heading-primary--sub sup {
      letter-spacing: 0; }

.about-me-paragraph {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #777;
  font-size: 2.5rem;
  margin-bottom: 15px; }

.text-box {
  text-align: left;
  line-height: 6rem;
  font-family: "Josefin Slab", serif;
  color: #000;
  width: 100%;
  padding: 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 15rem; }
  .text-box:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .text-box h1 {
    padding: 1rem 1rem;
    font-family: "Josefin Slab", serif;
    color: #E1B22B;
    border-bottom: 2px solid #000;
    font-size: 4.5rem;
    letter-spacing: .15em; }
  .text-box h2 {
    font-size: 2.5rem; }
  .text-box h3 {
    font-size: 1.5rem; }
    .text-box h3 strong {
      font-size: 2.5rem;
      color: #E1B22B; }
    .text-box h3 a {
      text-decoration: none;
      color: currentColor; }
      .text-box h3 a:hover {
        color: blue; }
  .text-box p {
    line-height: 3rem;
    font-size: 2rem; }

#registry--text {
  text-align: center; }

.container {
  /* will cover the 100% of viewport */
  overflow: auto;
  display: block;
  position: relative;
  /* height of your footer */ }

footer {
  position: absolute;
  bottom: 0;
  height: 15px;
  background-color: red;
  width: 100%; }

.background--floral {
  margin-bottom: 25px;
  animation: moveInLeft 1s ease-out;
  height: 6rem;
  background-image: url(../img/gold-leaf-4.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain; }

#us {
  margin-top: 2vh;
  margin-bottom: 25vh;
  max-width: 65%;
  border-radius: 1.5rem;
  opacity: 0;
  animation: moveInTop 1s ease-out;
  animation-fill-mode: forwards; }
  @media (max-width: 768px) {
    #us {
      max-width: 95%; } }

.nav {
  animation: moveInLeft 1s ease-out;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap; }
  .nav li {
    margin: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
    list-style: none; }

.nav-half {
  display: flex; }

.nav-link {
  font-family: "Josefin Slab", serif;
  text-decoration: none;
  color: #777;
  text-transform: uppercase; }
  .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background: black;
    transition: width 0.5s; }
  .nav-link:hover {
    margin-bottom: 0px;
    color: #E1B22B; }
    .nav-link:hover:after {
      width: 100%; }

.section {
  max-width: 80%;
  margin: 0 auto; }
  @media (min-width: 320px) and (max-width: 1300px) {
    .section {
      max-width: 100%; } }

.registry-row {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .registry-row img {
    box-sizing: border-box;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    transition: all 0.1s;
    padding: 25px;
    flex: 1;
    max-width: 80%;
    max-height: 14rem;
    margin: 0 4rem;
    border: 1px solid transparent; }
    @media (min-width: 320px) and (max-width: 425px) {
      .registry-row img {
        width: 100%;
        margin: 0; } }
    .registry-row img:hover {
      cursor: pointer;
      box-shadow: 0.4rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
      transform: translateY(-2px); }
    .registry-row img:active {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      transform: translateY(0); }

.text-box {
  text-align: left;
  line-height: 6rem;
  font-family: "Josefin Slab", serif;
  color: #000;
  width: 100%;
  padding: 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .text-box:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .text-box h1 {
    padding: 1rem 1rem;
    font-family: "Josefin Slab", serif;
    color: #E1B22B;
    border-bottom: 2px solid #000;
    font-size: 4.5rem;
    letter-spacing: 0.15em; }
  .text-box h2 {
    font-size: 2.5rem; }
  .text-box h3 {
    font-size: 1.5rem; }
    .text-box h3 strong {
      font-size: 2.5rem;
      color: #E1B22B; }
    .text-box h3 a {
      text-decoration: none;
      color: currentColor; }
      .text-box h3 a:hover {
        color: blue; }
  .text-box p {
    line-height: 3rem;
    font-size: 2rem; }

.ourStory--row {
  border-bottom: 1px solid grey;
  height: 100%;
  display: flex;
  flex-wrap: wrap; }
  .ourStory--row:not(:last-child) {
    margin-bottom: 1rem; }
  .ourStory--row h2 {
    font-size: 4rem;
    border-bottom: 1px solid grey;
    margin-bottom: 2rem; }
  @media (max-width: 768px) {
    .ourStory--row {
      flex-direction: column; } }

.ourStory--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 30%;
  border: 1 px solid blue; }
  .ourStory--left img {
    width: 100%; }
  @media (max-width: 1100px) {
    .ourStory--left {
      width: 100%; } }

.ourStory--right {
  text-align: center;
  width: 70%; }
  .ourStory--right img {
    border-radius: 1.5rem;
    max-height: 100%;
    max-width: 100%; }
  @media (max-width: 1100px) {
    .ourStory--right {
      width: 100%; } }
  .ourStory--right .img-small {
    max-width: 25%;
    max-height: 40%; }
    @media (max-width: 1100px) {
      .ourStory--right .img-small {
        max-height: 50%;
        width: auto;
        max-width: 100%; } }
  .ourStory--right .img-medium {
    max-width: 50%;
    max-height: 40%; }
    @media (max-width: 1100px) {
      .ourStory--right .img-medium {
        max-height: 50%;
        width: auto;
        max-width: 100%; } }
  .ourStory--right .img-large {
    max-width: 75%; }
    @media (max-width: 1100px) {
      .ourStory--right .img-large {
        width: auto;
        max-width: 100%; } }

.facebook-stats {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  line-height: 4rem;
  font-size: 2.5rem; }
  .facebook-stats > * {
    width: 100%; }
  .facebook-stats i {
    color: red; }

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
  padding: 15px 40px;
  border-radius: 100px;
  transition: all .2s; }

.btn-white {
  background-color: #fff;
  color: #777; }
  .btn-white::after {
    background-color: #fff; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn-animated {
  animation: moveInBottom 0.5s ease-out 1s;
  animation-fill-mode: backwards; }

.btn-text {
  margin-top: 4rem;
  padding: 5px;
  box-sizing: border-box;
  height: 2.7rem;
  font-family: "Josefin Slab", serif; }
  .btn-text:link, .btn-text:visited {
    font-size: 2rem;
    text-decoration: none;
    transition: all .2s; }
  .btn-text:hover {
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }
  .btn-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0); }
  .btn-text--gold {
    color: #E1B22B;
    border-bottom: 1px solid #000; }
    .btn-text--gold:hover {
      background-color: #E1B22B;
      border-bottom: 1px solid #fff; }
  .btn-text--black {
    color: #fff;
    background-color: #E1B22B;
    border: 3px solid #E1B22B; }
    .btn-text--black:hover {
      border: 3px solid #000;
      background-color: #fff;
      color: #000; }

.newbtn {
  padding: 0px;
  box-sizing: border-box;
  font-family: "Josefin Slab", serif;
  letter-spacing: .2rem;
  color: #E1B22B;
  padding: 1.5rem 2.5rem; }
  .newbtn:link, .newbtn:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative; }

.btn-from-bottom {
  position: relative;
  transition: all 0.5s cubic-bezier(0.52, 1.64, 0.37, 0.66) !important;
  z-index: 1; }
  .btn-from-bottom:before {
    transition: all 0.5s cubic-bezier(0.52, 1.64, 0.37, 0.66) !important;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: .1rem;
    background: #E1B22B;
    z-index: -1; }
  .btn-from-bottom:hover {
    color: white; }
    .btn-from-bottom:hover:before {
      height: 100%;
      background-color: #E1B22B; }

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#return-to-top i {
  color: white;
  height: 50px;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9); }

#return-to-top:hover i {
  color: #fff;
  top: 5px; }
