//font sizes
$default-font-size: 1.6rem;

//font colors
$color-font-primary: #777;
$color-font-secondary:#4b6584;


//colors
$color-grey-light-1: #f7f7f7;



$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//card colors

$color-tertiary-light: #E1B22B;
$color-tertiary-medium: #5643fa;


//GRID
$grid-row-height-large: 95vh;
$grid-row-height-medium: 33vh;

$grid-width: 180rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 8rem;

$gutter-vertical-project: 0rem;

$gutter-horizontal-project: 0rem;

$font-primary:'Mindline Script Demo',
monospace;


$margin-top-small: 25px;
$margin-top-large: 40px;


$font-secondary: monospace;
