.btn {


	&:link,
	&:visited {
		display: inline-block;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 1.5rem;
		position: relative;
		padding: 15px 40px;
		border-radius: 100px;
		transition: all .2s;
	}

	&-white {
		background-color: $color-white;
		color: $color-grey-dark;

		&::after {
			background-color: $color-white;
		}

	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 10px 20px rgba($color-black, .2);

		&::after {

			opacity: 0;


		}
	}

	&:active {
		transform: translateY(-1px);
		box-shadow: 0 5px 10px rgba($color-black, .2);

	}

	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 100px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4s;
	}

	&-animated {
		animation: moveInBottom 0.5s ease-out 1s;
		animation-fill-mode: backwards;

	}

}

.btn-text {
	 display: inline-block;

	font-family: $font-secondary;

	&:link,
	&:visited {
		font-size: $default-font-size *1.25;
		//eddited out color for this website color: $color-tertiary-light;
		text-decoration: none;
		// border-bottom: 1px solid $color-tertiary-light;
		padding: 3px;
		transition: all .2s;
	}

	&:hover {
		//must set background-color to use
		color: $color-white;
		box-shadow: 0 1rem 2rem rgba($color-black, .15);
		transform: translateY(-2px);
	}

	&:active {
		box-shadow: 0 .5rem 1rem rgba($color-black, .15);
		transform: translateY(0);
	}

	&--gold {
		color: $color-tertiary-light;
		border-bottom: 1px solid $color-black;


		&:hover {
			background-color: $color-tertiary-light;
			border-bottom: 1px solid $color-tertiary-light;

		}
	}



}
