.newbtn {
  //border: 1px solid $color-tertiary-light;
  padding: 0px;
  box-sizing: border-box;
  font-family: $font-tertiary;
  letter-spacing: 0.2rem;
  color: $color-tertiary-light;
  padding: 1.5rem 2.5rem;

  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
  }

  &__border {
    border: 1px solid $color-tertiary-light;
  }
}

.btn-from-bottom {
  position: relative;
  transition: all 0.5s cubic-bezier(0.52, 1.64, 0.37, 0.66) !important;
  z-index: 1;

  &:before {
    transition: all 0.5s cubic-bezier(0.52, 1.64, 0.37, 0.66) !important;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0.1rem;
    background: #{$color-tertiary-light};
    z-index: -1;
  }

  &:hover {
    color: white;

    &:before {
      height: 100%;

      background-color: $color-tertiary-light;
    }
  }
}
.btn-from-left {
  position: relative;
  transition: all 0.5s cubic-bezier(0.52, 1.64, 0.37, 0.66) !important;
  z-index: 1;

  &:before {
    transition: all 0.5s cubic-bezier(0.52, 1.64, 0.37, 0.66) !important;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #{$color-tertiary-light};
    z-index: -1;
  }

  &:hover {
    color: white;

    &:before {
      width: 100%;

      background-color: $color-tertiary-light;
    }
  }
}
