*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this is what 1 rem is.
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  padding: 3vh 10vh;
  font-weight: 400;
  line-height: 1;
  color: $color-grey-dark;
}

@font-face {
  font-family: "Mindline Script Demo";
  src: url("fonts/Mindline Script Demo.ttf") format("truetype");
}

@media (min-device-width: 375px) and (max-device-width: 850px) {
  /* Styles */
  html {
    font-size: 35%;
  }

  body {
    padding: 1rem;
  }
}

@media (max-device-width: 375px) {
  /* Styles */
  html {
    font-size: 30%;
  }

  body {
    padding: 1rem;
  }
}

@media (max-device-width: 768px) and (orientation: landscape) {
  .section {
    height: auto !important;
    margin-bottom: 20vh;
  }

  #us {
    height: 200px !important;
  }
}
