.heading-primary {
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-bottom: 6rem;

	&--main {
		display: block;
		color: $color-black;
		font-family: $font-primary;
		font-size: 15rem;
		font-weight: 400;
		letter-spacing: 1rem;

		/*
            animation-delay: 3s;
            animation-iteration-count: 3;
			*/
		@media(min-device-width : 320px) and (max-device-width : 440px) {

			font-size: 10rem;

		}
	}

	&--sub {
		display: block;
		font-family: $font-secondary;
		color: $color-black;
		font-size: 1.5rem;
		font-weight: 100;
		letter-spacing: .5rem;
		animation: moveInRight 1s ease-out;

		sup {
			letter-spacing: 0;
		}
	}
}

.about-me-paragraph {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: $color-font-primary;
	font-size: 2.5rem;
	margin-bottom: 15px;
}



.text-box {
	text-align: left;
	line-height: 6rem;
	font-family: $font-tertiary;
	color: $color-black;
	width: 100%;
	padding: 2rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

	&:hover {
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	}

	//border: 1px solid red;
	margin-bottom: 15rem;

	h1 {
		padding: 1rem 1rem;
		font-family: $font-tertiary;
		color: $color-tertiary-light;
		border-bottom: 2px solid $color-black;
		font-size: 4.5rem;
		letter-spacing: .15em;
	}

	h2 {
		font-size: 2.5rem;
	}

	h3 {
		font-size: 1.5rem;

		strong {
			font-size: 2.5rem;

			color: $color-tertiary-light;
		}

		a {
			text-decoration: none;
			color: currentColor;

			&:hover {
				color: blue;
			}
		}

	}

	p {
		line-height: 3rem;
		font-size: 2rem;

	}




}

#registry--text {
	text-align: center;
}