.heading-primary {
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-bottom: 6rem;

	&--main {
		display: block;
		color: $color-black;
		font-family: $font-primary;
		font-size: 20rem;
		font-weight: 400;
		letter-spacing: 1rem;

		/*
            animation-delay: 3s;
            animation-iteration-count: 3;
            */
	}

	&--sub {
		display: block;
		font-family: $font-secondary;
		color: $color-black;
		font-size: 1.5rem;
		font-weight: 100;
		letter-spacing: 1rem;
		animation: moveInRight 1s ease-out;
	}
}

.about-me-paragraph {
	color: $color-font-primary;
	font-size: 2rem;
	margin-bottom: 15px;
}



.typewriter h1 {
	color: $color-font-secondary;
	font-size: 15rem;
	overflow: hidden;
	/* Ensures the content is not revealed until the animation */
	border-right: .1em solid $color-tertiary-light;
	/* The typwriter cursor */
	white-space: nowrap;
	/* Keeps the content on a single line */
	margin: 0 auto;
	/* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em;
	/* Adjust as needed */
	animation:
		typing 3.5s steps(30, end),
		blink-caret .75s step-end infinite;
}
