.heading-primary {
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-bottom: 6rem;

	&--main {
		display: block;
		color: $color-black;
		font-family: $font-primary;
		font-size: 15rem;
		font-weight: 400;
		letter-spacing: 1rem;

		/*
            animation-delay: 3s;
            animation-iteration-count: 3;
            */
	}

	&--sub {
		display: block;
		font-family: $font-secondary;
		color: $color-black;
		font-size: 1.5rem;
		font-weight: 100;
		letter-spacing: 1rem;
		animation: moveInRight 1s ease-out;
	}
}

.about-me-paragraph {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: $color-font-primary;
	font-size: 2rem;
	margin-bottom: 15px;
}



.travel--text{
	margin-top: 5vh;
	text-align: left;
	line-height: 4rem;
	font-family: $font-secondary;
	color: $color-black;
	width: 100%;


h1 {
	padding: 1rem 1rem;
	font-family: $font-secondary;
	color: $color-tertiary-light;
	border-bottom: 2px solid $color-black;
	font-size: 5rem;
	overflow: hidden;
	margin: 0 auto;
	/* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em;
	/* Adjust as needed */
}
h2{
font-size: 3rem;
}
h3{
	strong{
		font-size: 3rem;

		color: $color-tertiary-light;
	}
	font-size: 1.5rem;

	
}

p{
	font-size: 1.5rem;
}	

}

