.u-center-text {
	text-align: center;
}

.u-margin-bottom-small {
	margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
	margin-bottom: 4rem !important;


}

.u-margin-bottom-big {
	margin-bottom: 8rem !important;


}

.u-margin-top-big {
	margin-top: 8rem !important;
}

.u-margin-top-huge {
	margin-top: 10rem !important;

}

.u-half-row-verticle-center-text-center {

	text-align: center;
}

.u-half-row-verticle-center-text-right {

	text-align: right;

}

.u-half-row-verticle-center-text-right {

	text-align: right;

}

.u-flex-center {
	justify-content: center;
	align-items: center;
	align-content: center;
}


.u-half-row {}

.u-third-row {
	height: $grid-row-height-medium;
}