.u-center-text {
	text-align: center;
}

.u-margin-bottom-small {
	margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
	margin-bottom: 4rem !important;


}

.u-margin-bottom-big {
	margin-bottom: 8rem !important;


}

.u-margin-top-big {
	margin-top: 8rem !important;
}

.u-margin-top-huge {
	margin-top: 10rem !important;

}

.u-half-row-verticle-center-text-center {
	width: 100%;
	height: $grid-row-height-large;
	//isplay: table-cell;
	vertical-align: middle;
	text-align: center;
}

.u-half-row-verticle-center-text-right {
	width: $grid-row-height-large;
	height: $grid-row-height-large;
	display: table-cell;
	vertical-align: middle;
	text-align: right;

}


.u-half-row {
	height: $grid-row-height-large;
}

.u-third-row {
	height: $grid-row-height-medium;
}
