.container {
	/* will cover the 100% of viewport */
	overflow: auto;
	display: block;
	position: relative;
	padding-bottom: 100px;
	/* height of your footer */
}

.section-main {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.background--floral {
	margin-bottom: $margin-top-small;
	animation: moveInLeft 1s ease-out;
	height: 7rem;
	background-image: url(../img/gold-leaf-4.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

footer {
	position: absolute;
	bottom: 0;
	height: 15px;

	background-color: red;
	width: 100%;
}

#us {
	margin-top: 4vh;
	max-width: 50vw;
	border-radius: 15px;
	opacity: 0;

	animation: moveInTop 1s ease-out;
	animation-delay: .5s;
	animation-fill-mode: forwards;



}

.nav {
	animation: moveInLeft 1s ease-out;

	margin-top: $margin-top-small;
	display: flex;
	justify-content: center;

	li {
		list-style: none;
		margin: 0 1vw;

		a{
			height: 3rem;
		}
	}
}


.nav-link {
	font-family: $font-secondary;
	text-decoration: none;
	color: $color-grey-dark;
	text-transform: uppercase;




	&::after {
		content: '';
		display: block;
		width: 0;
		height: 5px;
		background: black;
		transition: width .5s;
	}

	&:hover {
		margin-bottom: 0px;
		color: #{$color-tertiary-light};


		&:after {

			width: 100%;

		}
	}

}


#section-about,
#section-projects {
	height: 100vh;

}

.section-about {
	margin-top: 35vh;
	color: $color-tertiary-light;
	background-color: $color-white;
}


.row-project {

	max-width: grid-width;
	margin: 0 auto;
	@include clearfix;

	[class ^="col-"] {
		float: left;



	}

	.col-1-of-3-project {
		width: calc(100%/3);


	}
}

.project-column {
	height: $grid-row-height-medium;

	&--pic1 {
		overflow: hidden;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		background-blend-mode: overlay;

		&:hover {

			background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/me.jpg);
			opacity: 1;


		}

		&:not(hover) {
			background-image: linear-gradient(to right bottom, $color-white, $color-black), url(../img/me.jpg);
			box-shadow: inset 0 0 100px #000000;
			opacity: 0.8;


		}
	}
}
