.container {
	/* will cover the 100% of viewport */
	overflow: auto;
	display: block;
	position: relative;
	padding-bottom: 100px;
	/* height of your footer */
}


.background--floral {
	margin-bottom: $margin-top-small;
	animation: moveInLeft 1s ease-out;
	height: 6rem;
	background-image: url(../img/gold-leaf-4.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

footer {
	position: absolute;
	bottom: 0;
	height: 15px;
	background-color: red;
	width: 100%;
}

#us {
	margin-top: 4vh;
	max-width: 65%;

	border-radius: 15px;
	opacity: 0;
	animation: moveInTop 1s ease-out;
	animation-delay: .5s;
	animation-fill-mode: forwards;

	@media(min-device-width: 320px) and (max-device-width: 768px) {
		max-width: 95%;
	}

}

.nav {
	animation: moveInLeft 1s ease-out;

	margin-top: $margin-top-small;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	li {
		list-style: none;
		margin: 0 2rem;
	}
}


.nav-link {
	font-family: $font-secondary;
	text-decoration: none;
	color: $color-grey-dark;
	text-transform: uppercase;




	&::after {
		content: '';
		display: block;
		width: 0;
		height: 5px;
		background: black;
		transition: width .5s;
	}

	&:hover {
		margin-bottom: 0px;
		color: #{$color-tertiary-light};


		&:after {

			width: 100%;

		}
	}

}


.section {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 60%;
	margin: 0 auto;
	min-height: 50vh;
	color: $color-tertiary-light;
	background-color: $color-white;

	@media(min-device-width: 320px) and (max-device-width: 1300px) {
		max-width: 100%;

	}

	&-main,
	&-details {
		min-height: 100vh;
	}



}

.registry-row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	img {
		box-sizing: border-box;
		box-shadow: 0 .5rem 1rem rgba($color-black, .15);
		border-radius: 15px;
		transition: all .3s;
		padding: 25px;
		flex: 1;
		max-width: 80%;
		height: 125px;
		margin: 0 4rem;
		border: 1px solid transparent;

		@media(min-device-width: 320px) and (max-device-width: 425px) {
			max-width: auto;
			margin: 0;
		}


		@media(min-device-width: 425px) and(max-device-width: 768px) {

			max-width: 400px;
		}


		&:hover {
			cursor: pointer;
			box-shadow: .4rem .5rem 1rem rgba($color-black, .5);
			transform: translateY(-2px);




		}

		&:active {
			box-shadow: 0 .5rem 1rem rgba($color-black, .15);
			transform: translateY(0);
		}
	}
}