.container {
	/* will cover the 100% of viewport */
	overflow: auto;
	display: block;
	position: relative;
	padding-bottom: 100px;
	/* height of your footer */
}

.section-main {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.background--floral {
	margin-bottom: $margin-top-small;
	animation: moveInLeft 1s ease-out;
	height: 7rem;
	background-image: url(../img/gold-leaf-4.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

footer {
	position: absolute;
	bottom: 0;
	height: 15px;

	background-color: red;
	width: 100%;
}

#us {
	margin-top: 4vh;
	max-width: 50vw;
	border-radius: 15px;
	opacity: 0;

	animation: moveInTop 1s ease-out;
	animation-delay: .5s;
	animation-fill-mode: forwards;



}

.nav {
	animation: moveInLeft 1s ease-out;

	margin-top: $margin-top-small;
	display: flex;
	justify-content: center;

	li {
		list-style: none;
		margin: 0 2vw;
	}
}


.nav-link {
	font-family: $font-secondary;
	text-decoration: none;
	color: $color-grey-dark;
	text-transform: uppercase;




	&::after {
		content: '';
		display: block;
		width: 0;
		height: 5px;
		background: black;
		transition: width .5s;
	}

	&:hover {
		margin-bottom: 0px;
		color: #{$color-tertiary-light};


		&:after {

			width: 100%;

		}
	}

}


#section-travel,
#section-registry {
	display: flex;
	margin-top: 35vh;
	height: 95vh;
	color: $color-tertiary-light;
	background-color: $color-white;
}


.registry-column {
	img{
		width: 100%;
		max-height: 300px;
		overflow: hidden;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		background-blend-mode: overlay;

		&:hover {
			opacity: 1;
			cursor: pointer;


		}

		&:not(hover) {
			opacity: 0.8;


		}
	}
}
