.container {
	/* will cover the 100% of viewport */
	overflow: auto;
	display: block;
	position: relative;
	padding-bottom: 100px;
	/* height of your footer */
}

footer {
	position: absolute;
	bottom: 0;
	height: 15px;
	background-color: red;
	width: 100%;
}

.background--floral {
	margin-bottom: 25px;
	animation: moveInLeft 1s ease-out;
	height: 6rem;
	background-image: url(../img/gold-leaf-4.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

#us {
	margin-top: 2vh;
	margin-bottom: 25vh;
	max-width: 65%;

	border-radius: 15px;
	opacity: 0;
	animation: moveInTop 1s ease-out;
	animation-delay: .5s;
	animation-fill-mode: forwards;

	@media(min-width: 320px) and (max-width: 768px) {
		max-width: 95%;
	}

}

.nav {
	animation: moveInLeft 1s ease-out;
	margin-top: $margin-top-small;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	li {
		margin: 1rem;
		display: flex;
		align-content: center;
		justify-content: center;
		list-style: none;


	}


}


.nav-link {
	font-family: $font-secondary;
	text-decoration: none;
	color: $color-grey-dark;
	text-transform: uppercase;




	&::after {
		content: '';
		display: block;
		width: 0;
		height: 5px;
		background: black;
		transition: width .5s;
	}

	&:hover {
		margin-bottom: 0px;
		color: #{$color-tertiary-light};


		&:after {

			width: 100%;

		}
	}

}


.section {


	max-width: 80%;
	margin: 0 auto;
	min-height: 50vh;

	@media(min-width: 320px) and (max-width: 1300px) {
		max-width: 100%;

	}

	&-main,
	&-details {
		min-height: 100vh;
	}



}

.registry-row {
	margin-top: 3rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	img {
		box-sizing: border-box;
		box-shadow: 0 .5rem 1rem rgba($color-black, .15);
		border-radius: 15px;
		transition: all .3s;
		padding: 25px;
		flex: 1;
		max-width: 80%;
		height: 125px;
		margin: 0 4rem;
		border: 1px solid transparent;

		@media(min-width: 320px) and (max-width: 425px) {
			width: 100%;

			margin: 0;
		}


		@media(min-width: 425px) and(max-width: 768px) {}


		&:hover {
			cursor: pointer;
			box-shadow: .4rem .5rem 1rem rgba($color-black, .5);
			transform: translateY(-2px);




		}

		&:active {
			box-shadow: 0 .5rem 1rem rgba($color-black, .15);
			transform: translateY(0);
		}
	}
}

.text-box {
	text-align: left;
	line-height: 6rem;
	font-family: $font-tertiary;
	color: $color-black;
	width: 100%;
	padding: 2rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

	&:hover {
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	}

	//margin-bottom: 8rem;

	h1 {
		padding: 1rem 1rem;
		font-family: $font-tertiary;
		color: $color-tertiary-light;
		border-bottom: 2px solid $color-black;
		font-size: 4.5rem;
		letter-spacing: .15em;
	}

	h2 {
		font-size: 2.5rem;
	}

	h3 {
		font-size: 1.5rem;

		strong {
			font-size: 2.5rem;

			color: $color-tertiary-light;
		}

		a {
			text-decoration: none;
			color: currentColor;

			&:hover {
				color: blue;
			}
		}

	}

	p {
		line-height: 3rem;
		font-size: 2rem;

	}




}

.ourStory {


	&--row {
		border-bottom: 1px solid grey;
		height: 100%;
		display: flex;
		flex-wrap: wrap;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		h2 {
			font-size: 4rem;
		}

		@media(max-width: 768px) {
			flex-direction: column;
		}

	}

	&--left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		width: 30%;
		border: 1 px solid blue;

		img {
			width: 100%;
		}

		@media(max-width: 1100px) {
			width: 100%;
		}
	}

	&--right {
		text-align: center;
		width: 70%;

		img {
			max-height: 100%;
			max-width: 100%;


		}

		@media(max-width: 1100px) {
			width: 100%;
		}
	}
}

.img-small {
	width: 25%;
	height: 40%;

}

.img-medium {
	width: 50%;
	height: 40%;

}

.img-large {
	width: 75%;
}